*{
    font-family: "poppins", sans-serif ;
    margin: 0;
    padding: 0;
}

body{
    background-color: #e0e3e34f;
}

.logo{
    background-color: white;
    padding-bottom: 30px;
    
}

.logo p{
    font-family: 'bodoni';
    font-size: 20px;
    font-weight: bolder;
    color: rgb(10, 10, 10);
   
    
    margin: auto;
    padding-top: 25px;
    padding-left: 15px;

}

header{
    height: 50px;
    background-color: whitesmoke;
    margin-bottom: 20px;
}

.Name{
    
    margin-top: 80px;
    margin-bottom: 20px;
    
}

.first{
    font-size: 50px;

}

.last {
    font-size: 45px;
}

.words{
    width: 80%;
    margin-bottom: 80px;
    
}
.words p{
    color: gray;
}

.words2{
    width: 70%;
    margin-bottom: 80px;
    display: none;
    
}

.words2{
    color: gray;
}

.boutons{
    display: flex;
   
   
    
}

.btn1{

    margin-right: 20px;
    
}

.btn1 a{
    text-decoration: none;
    color: white;
    border-radius: 20px;
    padding: 10px 45px 10px 45px;
    background-color: black;
    text-align: center;
    cursor: pointer;
    
    
}

.btn2 a{
    text-decoration: none;
    color: black;
    border-radius: 20px;
    padding: 10px 45px 10px 45px;
    background-color: rgba(128, 128, 128, 0.301);
    text-align: center;
    cursor: pointer;
    
}

.slider{
    
    width: 45%;
    height: 600px;
    margin: auto;
    margin-left: 30px;
  
}








.bg{
    height: 600px;
    width: 80% ;
    background: url("3_cleanup.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
     background-size: cover;
    background-position: center;
}

.section{
    
    
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin: auto;
    margin-top: 80px;
    margin-left: 50px;
    
}

.bloc1{
    background-color: white;
    width: 80%;
    margin-left: 60px;
    padding-left: 30px;
    border-radius: 12px;
    
}


footer{
    margin-top: 110px;
    background-color: rgba(0, 0, 0, 0.952);
    color: white;
  
}

.copy{
    display: flex;
    padding-top: 10px;
}

.copy p{
    font-size: 15px;
}

.reseaux i{
    font-size: 20px;
    
    
}

.item{
    padding: 5px;
    border-radius: 50%;
    border: 1px solid gray;
    border-color: gray;
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    
}

.reseaux {
    margin-top: 10px;
}



/*@media (max-width: 320px) {
  
    body {
      font-size: 14px;
      padding: 10px;
    }

    header{
        width: 95%;
        margin: auto;
        margin-left: 10px;
    }

    .logo{
        padding-bottom: 10px;
        padding-top: 5px;
    }

    .section{

        display: block;
        margin: auto;
        margin-top: 30px;
        margin-right: 5px;
       
        
    }

    .bloc1{
        background-color: white;
        width: 85%;
        margin-left: 5px;
        padding-left: 5px;
        border-radius: 12px;
        padding-top: 10px;
        margin-right: 17px;
        
    }

    .Name{
        
        margin-top: 15px;
        margin-bottom: 10px;
        
    }
    
    .first{
        font-size: 45px;
    
    }
    
    .last {
        font-size: 40px;
    }
    

    .boutons{
        display: flex;
        padding-bottom: 35px;
        margin-bottom: 15px;
        
       
        
    }
    
    .btn2{

        
        
        
        
    }
    
    .btn1 a{
        text-decoration: none;
        color: white;
        border-radius: 20px;
        padding: 7px 30px 7px 30px;
        background-color: black;
        text-align: center;
        
        
    }
    
    .btn2 a{
        text-decoration: none;
        color: black;
        border-radius: 20px;
        padding: 7px 30px 7px 30px;
        background-color: rgba(128, 128, 128, 0.301);
        
    }
}*/

@media (max-width: 550px){

    .section{
    
    
        display: block;
        
        justify-content: space-between;
        margin: auto;
        margin-top: 30px;
       
        
    }


    .bloc1{
        background-color: white;
        width: 94%;
        margin-left: 10px;
        padding-left: 5px;
        border-radius: 12px;
        padding-top: 20px;
        margin-right: 10px;
        
    }

    header{
        height: 50px;
        background-color: whitesmoke;
        margin-bottom: 20px;
    }
    
    .Name{
        
        margin-top: 20px;
        margin-bottom: 10px;
        
    }
    
    .first{
        font-size: 45px;
    
    }
    
    .last {
        font-size: 40px;
    }

    .words{
        width: 95%;
        margin-bottom: 40px;
        padding-left: 10px;
        
    }
    .words2{
        width: 95%;
        margin-bottom: 40px;
        padding-left: 10px;
        
    }

    
    .words p{
        color: gray;
        font-size: 15px;
    }
    

    .slider{
    
        width: 85%;
        height: 500px;
        
        margin-left: 40px;
      
    }
    
    .bg{
        height: 500px;
        border-radius: 17px;
        width: 98% ;
        background: url("3_cleanup.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    
    .boutons{
        display: flex;
        padding-bottom: 35px;
        margin-bottom: 15px;
        margin-left: 80px;
       
        
    }
    
    .btn1{
    
        margin-right: 10px;
        
        
    }
    
    .btn1 a{
        text-decoration: none;
        color: white;
        border-radius: 20px;
        padding: 7px 30px 7px 30px;
        background-color: black;
        text-align: center;
        
        
    }
    
    .btn2 a{
        text-decoration: none;
        color: black;
        border-radius: 20px;
        padding: 7px 30px 7px 30px;
        background-color: rgba(128, 128, 128, 0.301);
        
    }

    footer{
        margin-top: 50px;
        background-color: rgba(0, 0, 0, 0.952);
        color: white;
      
    }
    
    .copy{
        display: flex;
        padding-top: 10px;
    }
    
    .copy p{
        font-size: 15px;
    }

    
    
    

    
}

@media (max-width: 1560px){

    .section{
    
    
        display: flex;
        justify-content: center;
        justify-content: space-between;
        margin: auto;
        margin-top: 60px;
       
        
    }


    .bloc1{
        background-color: white;
        width: 55%;
        margin-left: 40px;
        padding-left: 10px;
        border-radius: 12px;
        padding-top: 30px;
        
    }

    header{
        height: 50px;
        background-color: whitesmoke;
        margin-bottom: 20px;
    }
    
    .Name{
        
        margin-top: 50px;
        margin-bottom: 20px;
        
    }
    
    .first{
        font-size: 50px;
    
    }
    
    .last {
        font-size: 45px;
    }

    .words{
        width: 80%;
        margin-bottom: 40px;
        padding-left: 7px;
        
    }

    .words2{
        width: 87%;
        margin-bottom: 20px;
        display: none;
        
    }
    
    .words p{
        color: gray;
        
    }
    

    .slider{
    
        width: 45%;
        height: 600px;
        margin: auto;
        margin-left: 30px;
      
    }
    
    .bg{
        height: 600px;
        width: 70% ;
        border-radius: 17px;
        background: url("3_cleanup.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    
    .boutons{
        display: flex;
        margin-top: 40px;
        
       
        
    }
    
    .btn1{
    
        margin-right: 20px;
        margin-left: 20px;
        
    }
    
    .btn1 a{
        text-decoration: none;
        color: white;
        border-radius: 20px;
        padding: 10px 45px 10px 45px;
        background-color: black;
        text-align: center;
        
        
    }
    
    .btn2 a{
        text-decoration: none;
        color: black;
        border-radius: 20px;
        padding: 10px 45px 10px 45px;
        background-color: rgba(128, 128, 128, 0.301);
        
    }

    footer{
        margin-top: 50px;
        background-color: rgba(0, 0, 0, 0.952);
        color: white;
      
    }
    
    .copy{
        display: flex;
        padding-top: 10px;
    }
    
    .copy p{
        font-size: 15px;
    }
    

    footer{
        margin-top: 200px;
        background-color: rgba(0, 0, 0, 0.952);
        color: white;
      
    }
}